<div class="back">
  
    <div class="col-12 col-sm-6 col-lg-4">
        <br><br><br><br><br><br><br>
      <div class="card bg-primary text-white">

        <div class="card-body">
          <h4 class="card-title">ESTORE</h4>
          <h6 class="card-subtitle mb-2">Online Shopping</h6>
          <p class="card-text">EStore Online shopping....Explore vast selection of products from Top Brands. Pay on Delivery. Huge Selection. 
            Easy & Fast Delivery. No Cost EMI Available. Best Deals. Great Offers.</p>
        </div>
      </div>
      <img class="card-img-bottom" src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/bologna-2.jpg" alt="Bologna">
    </div>

  </div>
